
/* Import DM Serif Display and Outfit fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@400;500;600&display=swap');

/* font-family: 'DM Serif Display', serif;
font-family: 'Outfit', sans-serif; */

/*
--text: #000D0F; ultra dark blue
--background: #fffafd; white pink
--primary: #014d36; forest green
--secondary: #f0f0e0; soft yellow
--accent: #df81a0; muted pink
*/

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

img{
    width: 100%;
    display: flex;
}
  
body{
    background-color: #fffafd;
    font-family: 'Outfit', sans-serif;
    color: #000D0F;
    overflow: hidden;
    height: 100% ;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

header{
    position: relative;  
    display: grid;
    grid-template-columns: repeat(2,300px);
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.container{
    max-width: 100%;
    padding: 10rem 2rem 2rem 2rem;
 }

header .content h1{
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 7vmin;
    font-weight: 400;
    margin-bottom: 1rem;
    animation: fadeIn 1.5s;
    margin: auto;
    width: fit-content;
}

header .image{
    animation: fadeIn 1.5s;
    position: relative;
}

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

header .image img{
    max-width: 40vmin;
    margin: auto;
    border-radius: 10%;
    filter:drop-shadow(0rem .1rem .3rem #d4d4d4)
}

header .content p{
    max-width: 250px;
    margin: auto;
    animation: fadeIn 1.5s;
    text-align: justify;
    padding-bottom: 2rem;
}


.quicklinks{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0rem 5rem 10rem 5rem;
}

.btn{
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    color: #f0f0e0;
    background-color: #014d36;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.btn:hover{
    background-color: #014d36;
    color: #f0f0e0;
    box-shadow: 0 0 20px rgba(1, 77, 54, 0.5);
    -webkit-transform: translateY(-2px);
	transform: translateY(-2px);
    z-index: -100; /* send to back*/    

}
.namesign {
    display: flex;
}

/* begin name animation */
#myname{
    position: relative;
    left:0%;
    display:flex;
    z-index: -1;  
    max-width:40vmin;
    stroke:#000d0f; 
    fill:none; 
    stroke-width:13;
    fill-rule:nonzero;
    clip-rule:evenodd;
    stroke-linecap:round;
    stroke-linejoin:round;
    padding-bottom: 1rem;
    width: fit-content;
    margin: auto;
}

#Tname1{
    stroke-dasharray: 185;
    opacity: 0;
    animation: 0.25s fillSvg forwards;
    animation-delay: 1s;
}

#Tname2{
    stroke-dasharray: 90.4;
    opacity:0;
    animation: fillSvg2 .4s forwards;
    animation-delay: 1.4s;
}

#Tname3{
    stroke-dasharray: 78.4;
    opacity:0;
    animation: fillSvg3 .5s forwards;
    animation-delay: 1.8s;
}

#Tname4{
    stroke-dasharray: 307.12;
    opacity:0;
    animation: fillSvg4 1.33s forwards;
    animation-delay: 2.25s;
}

#Tname5{
    stroke-dasharray: 1.88;
    opacity:0;
    animation: fillSvg5 3s forwards;
    animation-delay: 3.5s;
}

@keyframes fillSvg {
    from{
        opacity: 1;
        stroke-dashoffset: 185;
    }
    to{
        opacity: 1;
        stroke-dashoffset: 0;
    }
}

@keyframes fillSvg2 {
    from{
        opacity:1;
        stroke-dashoffset: 90.3;
    }
    to{
        opacity:1;
        stroke-dashoffset: 0;
    }
}

@keyframes fillSvg3 {
    from{
        opacity:1;
        stroke-dashoffset: 78.4;
    }
    to{
        opacity:1;
        stroke-dashoffset: 0;
    }
}

@keyframes fillSvg4 {
    from{
        opacity:1;
        stroke-dashoffset: 307.12;
    }
    to{
        opacity:1;
        stroke-dashoffset: 0;
    }
}

@keyframes fillSvg5 {
    from{
        opacity:1;
        stroke-dashoffset: 1.88;
    }
    to{
        opacity:1;
        stroke-dashoffset: 0;
    }
}
/* end name animation */

section{
    background-color: #f0f0e0;
}

section .header{
    color: #000D0F;
    text-align: center;
    font-size: 7vmin;
    font-weight: 500;
    font-family: 'DM Serif Display', serif;
}

.features{
     margin-top: 2rem;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 1rem;
     padding: 0rem 15rem;
     max-width: 100%;
}

.logo{
    margin: auto;
    max-width: 9vw;
    min-width: 6vw;
}

.techskills{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0rem 15rem;
    max-width: 100%;
} 

.techskills .card{
    background-color: rgba(128, 128, 128, 0.1);
    padding: 1rem;
    max-width: 25vw;
    min-width: 6vw;
    transition: all 0.3s ease;
    word-wrap: break-word;
    hyphens: auto;
}

.techskills .card h4{
    margin-bottom: 0.5rem;
    color: #014d36;
    font-size: 2.5vmin;
    font-weight: 600;
}

.techskills .card li{
    color: #000D0F;
    font-size: 2vmin;
}

.techskills .card a{
    color: #df81a0;
    transition: all 0.3s ease;
}

.techskills .card a:hover{
    color: #df81a0;
}

#works-section{
    background-color: pink;
    position: relative;
    padding-bottom: 10rem;
}

.swiper {
    padding: 5rem;
    width: 80vmin;
    height: 100%;
}

.swiper:hover{
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    padding-top: 50px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #d4d4d462;
    object-fit: cover;
    border-radius: 5px;
}

.swiper-slide h3{
    font-size: 3vmin;
    text-align: left;
}

.swiper-slide p{
    font-size: 2vmin;
    text-align: left;
    padding-top: 20px;
}

.navi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.my-cool-arrow-prev,
.my-cool-arrow-next {
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 2vmin;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid #014d36;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem; /* Adjust the margin as needed */
}

.my-cool-arrow-next:hover, .my-cool-arrow-prev:hover{
    background-color: #014d36;
    color: #fffafd;
}





footer{
    background-color: #f0f0e0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.pager{
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}

.pager button{
    flex: 0 0 20px;
    flex-direction: row;
    width: 80px;
    border: 0;
    padding: 6px;
    background: transparent;
    cursor: pointer;
    transition: 0.4s ;
}

.pager button span{
    display: block;
    width: 8px;
    height: 100%;
    background-color: #014d36;
    border-radius: 4px;
    transition: 0.4s;
}
.pager .label{
    display: none;
    z-index: 2000;
    transform: translateY(-160%);
    animation-delay: 1s;
    animation: fadeIn 2s;
}

.pager button:focus{
    flex: 0 0 50px;
}

.pager button:focus span{
    background-color: #df81a0;
}

.pager button:focus .label{
    display: block;
}

@media (width < 900px){
    header{
        grid-template-columns: repeat(1,300px);
        gap: 2rem;
    }
    header .image{
        grid-area: 1/1/2/2;
    }

    header .content p{
        max-width: 200px;
        font-size: 3vw;
    }
    

    .features{
        padding: 0rem 2rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 100%;
    }

    .logo{
        min-width: 15vw;
    }

    .techskills{
        padding: 0rem 2rem;
        max-width: 100%;
    }

    .pager .label{
        visibility: hidden;
    }
}